<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 login-body text-center">
      <img src=".../../assets/images/logosx.png" title="Logo" alt="Logo" width="120"/>
      <h3 class="login-text">
        Sign In
      </h3>
      <form routerLink="dashboard" class="text-left login-form">
        <div class="form-group">
          <input class="form-control rect-input-form" type="text" name="username" spellcheck="false" autocomplete="off" placeholder="Username">
        </div>
        <div class="form-group">
          <input class="form-control rect-input-form" type="password" name="password" spellcheck="false" autocomplete="off" placeholder="Password">
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary btn-block text-center">Sign In</button>
        </div>
        <div class="form-group text-center">
            <a routerLink="signup">Don't have account? Create new one.</a>
        </div>
      </form>
    </div>
  </div>
</div>
