<div class="row">
  <div class="col-md-3">
    <div class="status-box">
      <small>Used Articles</small>
      <h3>{{totalUsedArticle}}</h3>
      <img src=".../../assets/images/chart.png" />
    </div>
  </div>
  <div class="col-md-3">
    <div class="status-box">
      <small>Remaining Articles</small>
      <h3>{{totalRemaningArticle}}</h3>
      <img src=".../../assets/images/chart.png" />
    </div>
  </div>
  <div class="col-md-3">
    <div class="status-box">
      <small>Words Processed</small>
      <h3>{{totalWordProcessed}}</h3>
      <img src=".../../assets/images/chart.png" />
    </div>
  </div>
  <div class="col-md-3">
    <div class="status-box">
      <small>Remaining Words</small>
      <h3>{{totalRemainingWords}}</h3>
      <img src=".../../assets/images/chart.png" />
    </div>
  </div>
</div>
<!-- Chart -->
<div class="container-fluid">
  <div class="row analytics-chart">
    <div class="col-md-12">
      <h4>Analytics Overview</h4>
    </div>
    <div class="col-md-12 text-center">
      <a href="#" class="btn btn-sm btn-outline-primary btn-header-menu">Past 24hrs</a>
      <a href="#" class="btn btn-sm btn-outline-primary btn-header-menu">Past 7 Days</a>
      <a href="#" class="btn btn-sm btn-outline-primary btn-header-menu">Past Month</a>
    </div>
    <div class="col-md-8 offset-md-2 text-center canvas-chart">
      <form action="form-action.html" target="_blank">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <textarea class="form-control" rows="3">Text area</textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <select class="form-control">
                <option>Category</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group text-center">
              <input class="form-check-input analytics-form-check-input" type="checkbox" value="">
              <label class="analytics-form-check-label">
                Effective Words
              </label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <select class="form-control">
                <option>Type</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group text-center">
              <input class="form-check-input analytics-form-check-input" type="checkbox" value="">
              <label class="analytics-form-check-label">
                SEO Words
              </label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <select class="form-control">
                <option>Sub Type</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group text-center">
              <input class="form-check-input analytics-form-check-input" type="checkbox" value="">
              <label class="analytics-form-check-label">
                Engaging Contents
              </label>
            </div>
          </div>
        </div>
        <div class="form-group text-center">
          <button class="btn btn-primary text-center" (click)="sendMeHome()">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
