<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 login-body text-center">
      <img src=".../../assets/images/logosx.png" title="Logo" alt="Logo" width="120"/>
      <h3 class="login-text">
        Sign Up
      </h3>
      <form routerLink="dashboard" class="text-left login-form">
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <input class="form-control rect-input-form" type="text" name="fname" spellcheck="false" autocomplete="off" placeholder="Firstname">
            </div>
            <div class="col-md-6">
              <input class="form-control rect-input-form" type="text" name="lname" spellcheck="false" autocomplete="off" placeholder="Lastname">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <input class="form-control rect-input-form" type="text" name="email" spellcheck="false" autocomplete="off" placeholder="Email">
            </div>
            <div class="col-md-6">
              <input class="form-control rect-input-form" type="text" name="username" spellcheck="false" autocomplete="off" placeholder="Username">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <input class="form-control rect-input-form" type="text" name="password" spellcheck="false" autocomplete="off" placeholder="Password">
            </div>
            <div class="col-md-6">
              <input class="form-control rect-input-form" type="text" name="confirmpassword" spellcheck="false" autocomplete="off" placeholder="Confirm Password">
            </div>
          </div>
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary btn-block text-center">Signup</button>
        </div>
      </form>
    </div>
  </div>
</div>
