<header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 text-center header-logo">
          <img src=".../../assets/images//logo-inverse.svg" width="98" title="logo" />
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-6 page-title">
              <h4>{{ headerText }}</h4>
            </div>
            <div class="col-md-6 pull-right">
              <ul class="header-menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Blog</a></li>
                <li class="header-btn"><a href="./" class="btn btn-primary btn-header-menu">Logout</a></li>
              </ul>
              <!-- Responsive Menu -->
              <div class="header-menu-bars">
                <a data-toggle="collapse" id="RightMenuButton" href="#MobileMenu" role="button" aria-expanded="false" aria-controls="MobileMenu"><i class="fas fa-bars fa-2x"></i></a>
              </div>
              <div class="collapse" id="MobileMenu">
                <div class="mobile-menu-container">
                  <ul class="mobile-menu">
                    <li><a href="#" class="header-menu-black">Home</a></li>
                    <li><a href="#" class="header-menu-black">Blog</a></li>
                  </ul>
                </div>
              </div>
              <div class="header-menu-bars-left">
                <a data-toggle="collapse" href="#MobileMenuLeft" role="button" aria-expanded="false" aria-controls="MobileMenuLeft"><i class="fas fa-bars fa-2x"></i></a>
              </div>
              <div class="collapse" id="MobileMenuLeft">
                <div class="mobile-menu-container">
                  <ul class="mobile-menu">
                    <li><a href="#" class="header-menu-black">Dashboard</a></li>
                    <li><a href="#" class="header-menu-black">Widgets</a></li>
                    <li><a href="#" class="header-menu-black">Page Layouts</a></li>
                    <li><a href="#" class="header-menu-black">Mail</a></li>
                    <li><a href="#" class="header-menu-black">Widgets</a></li>
                    <li><a href="#" class="header-menu-black">Page Layouts</a></li>
                  </ul>
                </div>
              </div>
              <!-- Responsive Menu -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 content-left left-navigation sidebar-left">
        <ul>
          <li class="menu-title">Navigation</li>
          <li class="active"><i class="fas fa-tachometer-alt"></i><a routerLink="analytics">Dashboard</a></li>
          <li><i class="fas fa-chart-bar"></i><a routerLink="widgets">Widgets</a></li>
          <li><i class="fas fa-address-card"></i><a routerLink="layout">Page Layouts</a></li>
          <li class="menu-title">Components</li>
          <li><i class="fas fa-envelope"></i><a routerLink="mail">Mail</a></li>
          <li><i class="fas fa-industry"></i><a routerLink="widgets">Widgets</a></li>
          <li><i class="fas fa-calculator"></i><a routerLink="layout">Page Layouts</a></li>
          <li class="active-button"><i class="fas fa-shopping-cart"></i><a href="#">Buy Articles</a></li>
        </ul>
      </div>
      <!-- right Content -->
      <div class="col-md-10 content-right">
      <router-outlet></router-outlet>
      </div>
      <!-- right Content Ends-->
    </div>
  </div>
  <script>
  $(function() {
  var menuVisible = false;
  $('#RightMenuButton').click(function() {
    alert("Test");
    if (menuVisible) {
      $('#MobileMenu').css({'display':'none'});
      menuVisible = false;
      return;
    }
    $('#MobileMenu').css({'display':'block'});
    menuVisible = true;
  });
  $('#MobileMenu').click(function() {
    $(this).css({'display':'none'});
    menuVisible = false;
  });
});
</script>
