.header-menu{
  padding: 15px 100px 5px 0;
}

.menu-item{
  margin-right: 20px;
}

.side-bar-container{
  margin-top: 50%;
}

.padding-sidebar-item{
  padding:10px 0px 10px 30px !important;
}

.padding-sidebar-item-value{
  padding:10px 0px 10px 0px !important;
}

.side-bar-container-processing{
  margin-top: 50px;
}

#buy-article{
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-bg{
  background-color: #fff !important;
}

.main-view{
  padding: 100px 150px 150px 100px;
}

.check-box{
  width: 30px; height: 30px;
}

.sidebar-new{
  height:100vh;
  background-color:  #81bff0;
}
