<header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 text-center">
          <img class="header-logo" src="https://trycatchajith.github.io/ThinkTwice/assets/images/buffer.png" width="98" title="logo" />
        </div>
        <div class="col-md-9 text-center">
          <ul class="header-menu">
            <li><a href="#" class="header-menu-black">Product</a></li>
            <li><a href="#" class="header-menu-black">Pricing</a></li>
            <li><a href="#" class="header-menu-black">About</a></li>
            <li><a href="#" class="header-menu-black">Webinars</a></li>
            <li class="header-btn"><a href="#" class="btn btn-primary btn-header-menu">Try Buffer for Business</a></li>
            <li class="header-btn"><a href="#" class="btn btn-outline-primary btn-header-menu">Login</a></li>
          </ul>
          <div class="header-menu-bars">
            <a data-toggle="collapse" href="#MobileMenu" role="button"><i class="fas fa-bars fa-2x"></i></a>
          </div>
          <div class="collapse" id="MobileMenu">
            <div class="mobile-menu-container">
              <ul class="mobile-menu">
                <li><a href="#" class="header-menu-black">Product</a></li>
                <li><a href="#" class="header-menu-black">Pricing</a></li>
                <li><a href="#" class="header-menu-black">About</a></li>
                <li><a href="#" class="header-menu-black">Webinars</a></li>
                <li><a href="#" class="header-menu-black">Buffer for Business</a></li>
                <li><a href="#" class="header-menu-black">Login</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center home-slider bottom-border">
        <h1>Save time managing your social media</h1>
        <p class="slider-content">
          Buffer is a simpler and easier way to schedule posts, track the performance of
          <br />your content,and manage all your accounts in one place
        </p>
        <a href="#" class="btn btn-primary btn-with-border-slider" style="margin-bottom:100px;">Signup for free</a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <p class="text-customers">We’re delighted to support 4,000,000+ marketers in their social media success</p>
        <div class="row text-center">
          <div class="col-md-2 text-center">
            <img src="../../assets/images/clientlogo.jpg" title="Client Logo" width="120"/>
          </div>
          <div class="col-md-2 text-center">
            <img src="../../assets/images/clientlogo.jpg" title="Client Logo" width="120"/>
          </div>
          <div class="col-md-2 text-center">
            <img src="../../assets/images/clientlogo.jpg" title="Client Logo" width="120"/>
          </div>
          <div class="col-md-2 text-center">
            <img src="../../assets/images/clientlogo.jpg" title="Client Logo" width="120"/>
          </div>
          <div class="col-md-2 text-center">
            <img src="../../assets/images/clientlogo.jpg" title="Client Logo" width="120"/>
          </div>
          <div class="col-md-2 text-center">
            <img src="../../assets/images/clientlogo.jpg" title="Client Logo" width="120"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid analytics">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <h2>Analyze the performance of your posts</h2>
        <p class="analytics-content">
          Track engagement and interactions on the posts you've shared, so you can see how your
          <br />content is performing across all your social accounts.
        </p>
        <a href="#">Start analyzing your posts now &raquo;</a>
      </div>
      <div class="col-md-8 offset-md-2 text-center">
        <div class="analytics-video">
          <video controls muted="" width="90%" class="video-container" poster="../../assets/images/poster.jpg" data-name="analytics">
            <source src="https://static.buffer.com/marketing/public/video/analytics.webm" type="video/webm">
              <source src="https://static.buffer.com/marketing/public/video/analytics.mp4" type="video/mp4">
                Ah, sorry. Looks like your browser does not support HTML5 video.
              </video>
              <div class="video-play" data-name="analytics" style="display: none;">
                <div class="video-button" data-name="analytics"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid client-testimonials">
        <div class="row text-center">
          <div class="col-md-12">
            <h2>Here is what our users say</h2>
          </div>
          <div class="col-md-4 client-testimonials-content">
            <img src="../../assets/images/zuck-fb.jpg" width="100" title="Client Name"/>
            <p>Lorem ipsum dollar get nu, awesome. Lorem once in somewhere lorem did lorem. Lorem has been one of the powerful lorem content. Generators of the web content since 1999.</p>
          </div>
          <div class="col-md-4 client-testimonials-content">
            <img src="../../assets/images/user-2.jpg" width="100" title="Client Name"/>
            <p>Lorem ipsum dollar get nu, awesome. Lorem once in somewhere lorem did lorem. Lorem has been one of the powerful lorem content. One of the powerful generators of the web content since 1999.</p>
          </div>
          <div class="col-md-4 client-testimonials-content">
            <img src=".../../assets/images/user1.jpg" width="100" title="Client Name"/>
            <p>Lorem ipsum dollar get nu, awesome. Lorem once in somewhere lorem did lorem. Lorem has been one of the powerful lorem content. Content creators of the lorem of the web content since 1999.</p>
          </div>
        </div>
      </div>
      <footer>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <div class="row">
                <div class="col">
                  <ul class="footer-menu">
                    <li class="footer-menu-heading">Quick Links</li>
                    <li><a href="#" class="footer-menu-black">Power BI Desktop</a></li>
                    <li><a href="#" class="footer-menu-black">Mobile</a></li>
                    <li><a href="#" class="footer-menu-black">Downloads</a></li>
                  </ul>
                </div>
                <div class="col">
                  <ul class="footer-menu">
                    <li class="footer-menu-heading">Legal</li>
                    <li><a href="#" class="footer-menu-black">Terms of use</a></li>
                    <li><a href="#" class="footer-menu-black">Privacy & Cookies</a></li>
                    <li><a href="#" class="footer-menu-black">Trademarks</a></li>
                  </ul>
                </div>
                <div class="col">
                  <ul class="footer-menu">
                    <li class="footer-menu-heading">Information</li>
                    <li><a href="#" class="footer-menu-black">Footer Menu Item 1</a></li>
                    <li><a href="#" class="footer-menu-black">Footer Menu Item 2</a></li>
                    <li><a href="#" class="footer-menu-black">Footer Menu Item 3</a></li>
                  </ul>
                </div>
                <div class="col">
                  <ul class="footer-menu">
                    <li class="footer-menu-heading">Information</li>
                    <li><a href="#" class="footer-menu-black">Blog</a></li>
                    <li><a href="#" class="footer-menu-black">Newsletter</a></li>
                    <li><a href="#" class="footer-menu-black">Press Releases</a></li>
                    <li><a href="#" class="footer-menu-black">Updates</a></li>
                  </ul>
                </div>
                <div class="col">
                  <ul class="footer-menu">
                    <li class="footer-menu-heading">Information</li>
                    <li><a href="#" class="footer-menu-black">Footer Menu Item 1</a></li>
                    <li><a href="#" class="footer-menu-black">Footer Menu Item 2</a></li>
                    <li><a href="#" class="footer-menu-black">Footer Menu Item 3</a></li>
                    <li><a href="#" class="footer-menu-black">Footer Menu Item 4</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="copyright-text text-center">Copyright &copy;2018 Buffer • All rights are reserved.</p>
      </footer>
