
        <script src="assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Sections -->
        <nav class="navbar fixed-top navbar-default header-border">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="assets/images/buffer.png" style="width:98px; height:20px;" alt="Logo" /></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        <li class=""><a href="#home">Product</a></li>
                        <li><a href="#features">Pricing</a></li>
                        <li><a href="#service">About</a></li>
                        <li><a href="#price">Webinars</a></li>
                        <li class="try-business" ><a href="#">Try Buffer For Business</a></li>
                        <li class="login"><a href="#">Login</a></li>
                    </ul>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <!--Home page style-->
        <header id="home" class="home bottom-border">
            <div class="overlay-fluid-block-home">
                <div class="container text-center">
                    <div class="row">
                        <div class="home-wrapper">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="home-content">
                                    <h1>Save time managing your social media</h1>
                                    <p>Buffer is a simpler and easier way to schedule posts, track the performance of your content, and manage all your accounts in one place.</p>

                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                                            <div class="home-contact">
                                                <a href="#" class="btn-large cta-primary">Sign up for free</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="homepage-divider">
                                <p>We’re delighted to support 4,000,000+ marketers in their social media success</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Sections Analytics-->
        <section id="features" class="features sections analytics">
          <div class="container text-center">
            <div class="row">
                        <div class="home-content">
            <h2 class="analytics-heading">Analyze the performance of your posts</h2>
            <p>Track engagement and interactions on the posts you've shared, so you can see how your content is performing across all your social accounts.</p>
            <p class="blue-link"><a href="/signup?source=marketing-site">Start analyzing your posts now<span class="arrow arrow-right"></span></a></p>

            <div class="homepage-video-container homepage-video--analytics">
              <video controls="" muted="" class="video-container" data-name="analytics">
                <source src="https://static.buffer.com/marketing/public/video/analytics.webm" type="video/webm">
                  <source src="https://static.buffer.com/marketing/public/video/analytics.mp4" type="video/mp4">
                    <!-- <source src="mov_bbb.ogg" type="video/ogg"> -->
                    Ah, sorry. Looks like your browser does not support HTML5 video.
                  </video>
                  <div class="video-play" data-name="analytics" style="display: none;">
                    <div class="video-button" data-name="analytics"></div>
                  </div>
                </div>

                </div>
                </div>

              </div>
        </section><!--End of Features 2 Section -->

        <!-- Sections -->
        <section id="business" class="portfolio sections bottom-border">
            <div class="container">
                <div class="head_title text-center">
                    <h3>Here's What our Users Say</h3>
                </div>

                <div class="row">
                    <div class="portfolio-wrapper text-center">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="community-edition">
                              <div class="map-avatar map-avatar--juliet" data-name="juliet">
                              </div>
                                <div class="separator"></div>
                                <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="community-edition">
                              <div class="map-avatar map-avatar--juliet" data-name="juliet">
                              </div>
                                <div class="separator"></div>
                                <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="community-edition">
                              <div class="map-avatar map-avatar--juliet" data-name="juliet">
                              </div>
                                <div class="separator"></div>
                                <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="community-edition">
                              <div class="map-avatar map-avatar--juliet" data-name="juliet">
                              </div>
                                <div class="separator"></div>
                                <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div> <!-- /container -->
        </section>



        <section id="footer-menu" class="sections footer-menu bottom-border">
            <div class="container">
                <div class="row">
                    <div class="footer-menu-wrapper">

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="menu-item">
                                    <h5>Quick Links</h5>
                                    <ul>
                                        <li>POWER BI DESKTOP</li>
                                        <li>MOBILE</li>
                                        <li>SEE ALL DOWNLOADS</li>
                                        <li>POWER BI DESKTOP</li>
                                        <li>MOBILE</li>
                                        <li>SEE ALL DOWNLOADS</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-6 col-xs-12" style="margin-left:50px;">
                                <div class="menu-item">
                                    <h5>Legal</h5>
                                    <ul>
                                        <li>PRIVACY & COOKIES</li>
                                        <li>TERMS OF USE</li>
                                        <li>TRADEMARKS</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-6 col-xs-12" style="margin-left:30px;">
                                <div class="menu-item">
                                    <h5>Information</h5>
                                    <ul>
                                        <li>SUPPORT</li>
                                        <li>DEVELOPERS</li>
                                        <li>BLOG</li>
                                        <li>NEWSLETTER</li>
                                        <li>PYRAMID ANALYTICS</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-6 col-xs-12" style="margin-left:50px;">
                                <div class="menu-item">
                                    <h5>Information</h5>
                                    <ul>
                                        <li>SUPPORT</li>
                                        <li>DEVELOPERS</li>
                                        <li>BLOG</li>
                                        <li>NEWSLETTER</li>
                                        <li>PYRAMID ANALYTICS</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-6 col-xs-12" style="float:right;">
                                <div class="menu-item">
                                    <h5>Information</h5>
                                    <ul>
                                        <li>SUPPORT</li>
                                        <li>DEVELOPERS</li>
                                        <li>BLOG</li>
                                        <li>NEWSLETTER</li>
                                        <li>PYRAMID ANALYTICS</li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>


        <!--Footer-->
        <footer id="footer" class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-wrapper">
                            <div class="text-center">
                                Copyright ©2017 Buffer • Privacy • Terms • Security
                            </div>

                    </div>
                </div>
            </div>
        </footer>


		<div class="scrollup">
			<a href="#"><i class="fa fa-chevron-up"></i></a>
		</div>


        <script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="assets/js/vendor/bootstrap.min.js"></script>

        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/modernizr.js"></script>
        <script src="assets/js/main.js"></script>
